* {
    box-sizing: border-box;
    /* 內容 大於 表格 隱藏 */
    overflow: hidden;
}

/* header */

.header {
    width: 1024px;
    height: 65px;
    /* background-color: lightblue; */
    margin: auto;

    border: 1px solid black;
    border-bottom: 0px;
}

/* container */
.container {
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: lightpink; */
    margin: auto;

    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.container-left {
    width: 215px;
    /* background-color: lightgreen; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.container-right {
    /* 記得 空格 -215px 錯的 - 215p才對 */
    width: calc(100% - 215px);
    /* background-color: lightsalmon; */
}

.left-top {
    width: 100%;
    height: calc(100% - 25px);
    /* background-color: lightgray; */

    border: 1px solid black;
    border-right: 0px;
}

.menu-title {
    font-family: "標楷體";
    font-size: 24px;
    color: #FF00FF;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid black;
    margin: auto;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


    /* height: 100%; */
}

.menu {
    width: 200px;
    height: 35px;
    background-color: lightblue;
    background-image: url('../images/menu1.png');
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    padding-top: 6px;
    font-family: "標楷體";
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

.menu:hover {
    background-image: url('../images/menu2.png');

}

.left-bottom {
    width: 100%;
    height: 25px;
    /* background-color: lightskyblue; */

    border: 1px solid black;
    border-right: 0px;
    border-top: 0px;
}

.update {
    font-family: "標楷體";
    font-size: 16px;
    color: #000000;
    text-align: center;
}

.right-top {
    width: 100%;
    height: 29px;
    /* background-color: lightsteelblue; */
    border: 1px solid black;
}

marquee {
    font-family: "標楷體";
    font-size: 24px;
    color: #0000FF;
}

.right-bottom {
    width: 100%;
    height: calc(100% - 29px);
    /* background-color: lightcoral; */
    border: 1px solid black;
    border-top: 0px;
}

/* footer */
.footer {
    width: 1024px;
    height: 20px;
    /* background-color: lightyellow; */
    margin: auto;
    border: 1px solid black;

    border-top: 0px;

}

/* iframe */
iframe {
    width: 100%;
    height: 100%;
}